@import url('./_mixins.scss');
@import url('./_variables.scss');
@import url('./datatable.scss');
@import url('./datepicker.scss');
@import url('./employeeform.scss');
@import url('./modal.scss');
@import url('./selectmenu.scss');

body {
  margin: 0;
  border: solid red 1px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.CEbody,.ELbody{
  border: solid green 1px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  
}

#root{
  // background-color: aqua;
  height:100vh;

}